
services:
  nginx:
    container_name: nginx
    image: nginx
    volumes:
      - ./nginx.conf:/etc/nginx/nginx.conf
      - ./conf.d:/etc/nginx/conf.d
      - ./myroot:/usr/share/nginx/myroot
      - ./limitroot:/usr/share/nginx/limitroot
      - ./html:/usr/share/nginx/html
    ports:
      - 80:80

